<div>
  <p>{{ 'Dear @firstname @lastname.'|t({'@firstname': user.field_first_name.value, '@lastname': user.field_last_name.value}) }}</p>
  <p>{{ 'Your account has been created successfully.'|t }}</p>
  <p>{{ 'You can now log in to the site using your email address and password.'|t }}</p>
  <p>{{ 'Thank you for registering.'|t }}</p>
</div>
